  <html>
  <head>
    <title>Red Cube Hacking Challenge</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine&amp;v1" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}" />
    <script src="{{ url_for('static',filename='scripts/js/Chart.min.js') }}"></script>
  </head>
  
  <body>
    <div id="main">
      <div id="header">
        <div id="logo">
          <h1>Red Cube Hacking Challenge</h1>
        </div>
        <div id="menubar">
          <ul id="menu">
            {% block menu %}{% endblock %}
          </ul>
        </div>
      </div>
      <div id="site_content">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
      </div>
      <div id="footer">
        <p>Copyright &copy; FK 07 2018</p>
      </div>
    </div>
  </body>
  </html>
  