{% extends "base.html" %}

{% block menu %}
    <li><a href="/">Scoreboard</a></li>
    <li><a href="/challenges">Challenges</a></li>
    <li class="current"><a href="/about">About Us</a></li>
    <li><a href="/logout">Log out</a></li>
{% endblock %}

{% block content %}
<h1>The Organisation Team</h1>
<p>The Red Cube Hacking Challenge is offered by Professor Dr. Trapp supported by Markus Krahl, Thomas Murschall (Member of HM IT-Sec Lab), Jonas Roller and Alex Schwankner.</p>

<h1>HM IT-Sec Lab</h1>

{% endblock %}