{% extends "base.html" %}

{% block menu %}
    <li><a href="/">Scoreboard</a></li>
    <li class="current"><a href="/challenges">Challenges</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/logout">Log out</a></li>
{% endblock %}

{% block content %}
<h1>{{challenge.name}}</h1>

<h2>Description</h2>
<p>
  {{challenge.description}}
</p>
<form action="/validate" method="post">
  <div class="form_settings">
    <p><span>Enter the flag</span><input type="text" name="flag" value="" /></p>
    <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" value = "Submit Flag"/></p>
  </div>
</form>
{% endblock %}