{% extends "base.html" %}

{% block menu %}
    <li class="current"><a href="/">Scoreboard</a></li>
    <li><a href="/challenges">Challenges</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/logout">Log out</a></li>
{% endblock %}

{% block content %}
    <h1>Score</h1>
    <canvas id="bar-chart" width="900" height="450"></canvas>
    <script>
        new Chart(document.getElementById("bar-chart"), {
                                type: 'bar',
                                data: {
                                    labels: {{teamList | safe}},
                                    datasets: [
                                        {label: 'Points', data: {{pointList | safe}}, backgroundColor: "rgba(75, 192, 192, 0.2)", borderColor:"rgb(75, 192, 192)", borderWidth:1},
                                        ]
                                }
                            }); 
    </script>
{% endblock %}