<!DOCTYPE HTML>
<html>

<head>
  <title>Red Cube Hacking Challenge</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine&amp;v1" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <h1>Red Cube Hacking Challenge</h1>
      </div>
    </div>
    <div id="site_content">
      <div id="content">
        <!-- insert the page content here -->
        <h1>Welcome to the Red Cube Hacking Challenge</h1>

        <p>{{message}}</p>
        <form action="/login" method="post">
            <div class="form_settings">
              <p><span>Enter teamname</span><input type="text" name="name" /></p>
              <p><span>Enter password</span><input type="password" name="password" /></p>
              <p style="padding-top: 15px">
                <input class="submit" type="submit" value="LogIn" />
                <input class="submit" type="button" value="Register" onclick="location.href ='/register';"/></p>
            </div>
          </form>

      </div>
    </div>
    <div id="footer">
      <p>Copyright &copy; FK 07 2018</p>
    </div>
  </div>
</body>
</html>
