<!DOCTYPE HTML>
<html>

<head>
  <title>Red Cube Hacking Challenge</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine&amp;v1" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <h1>Red Cube Hacking Challenge</h1>
      </div>
    </div>
    <div id="site_content">
      <div id="content">
        <!-- insert the page content here -->
        <h1>Sign Up to get started</h1>

        <p>Please do not enter existing passwords. Choose a username and password longer than six characters.
          Additional accounts will be created on the Raspberry PIs and on WebGoat using these credentials.
        </p>
        <p>{{message}}</p>
        <form action="/register" method="post">
            <div class="form_settings">
              <p><span>Enter teamname</span><input type="text" name="name"/></p>
              <p><span>Enter motive</span><input type="text" name="motive"/></p>
              <p><span>Enter password</span><input type="password" name="password"/></p>
              <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" value="Register" /></p>
            </div>
          </form>

      </div>
    </div>
    <div id="footer">
      <p>Copyright &copy; FK 07 2018</p>
    </div>
  </div>
</body>
</html>
