{% extends "base.html" %}

{% block menu %}
    <li><a href="/">Scoreboard</a></li>
    <li class="current"><a href="/challenges">Challenges</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/logout">Log out</a></li>
{% endblock %}

{% block content %}
<h1>Challenges</h1>
<p>
 Here are the long awaited and feared challenges.

 Brace yourselves, winter is coming!
</p>
 {% for challenge in challenges %}
    <h2>{{challenge.name}}</h2>
    <p>
     {{challenge.overview}}
    </p>
    <p>Go to the <a href="/{{challenge.link}}">challenge</a></p>
{% endfor %}
{% endblock %}