{% extends "base.html" %}

{% block menu %}
    <li><a href="/">Scoreboard</a></li>
    <li><a href="/challenges">Challenges</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/logout">Log out</a></li>
{% endblock %}

{% block content %}
<h1>Teams</h1>
<p>
 Here are all teams.
</p>
 {% for team in teams.items() %} 
<h2>{{team['name']}}</h2>
<p>
  {{team['motive']}}
  <br>
  Score : <b>{{team['score']}}</b>
</p>
{% endfor %}
{% endblock %}